body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 1px 2px #eee;
}

.logo {
    width: 129px;
    height: 17px;
}

.nav-lists {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #666666;
    font-size: 15px;
    cursor: pointer;
}

.nav-lists > li:hover {
    color: #387ed1;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section > img {
    height: 340px;
    width: 55%;
    padding-top: 60px;
    padding-bottom: 50px;
}

.hero-section > .hero-head {
    color: #424242;
    font-size: 44px;
    font-weight: 550;
    margin: 0;
}

.hero-section > .hero-subhead {
    color: #424242;
    font-size: 20px;
    margin: 20px 0px 20px;
}

.signup, .open-account > button {
    height: 44px;
    width: 174px;
    font-size: 19px;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    margin: 20px 0px 0px;
    cursor: pointer;
}

.signup:hover, .open-account > button:hover {
    background-color: #222222;
}

.largest-broker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.largest-broker > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #424242;
    height: auto;
    max-width: 500px;
}

.largest-broker > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 32px;
    color: #424242;
    font-weight: 550;
}

.largest-broker > div p {
    line-height: 1.6;
}

.largest-broker div >ul > li {
    padding: 10px 10px;
}

.ecosystem-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.ecosystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.ecosystem > h2, .open-account > h2 {
    font-size: 32px;
    color: #424242;
    font-weight: 550;
    margin-bottom: 0;
}

.ecosystem > p, .open-account > p {
    color: #424242;
    font-size: 20px;
}

.ecosystem > img {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.open-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
